<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 success-message">
		<div class="alert alert-success" *ngIf="success">
		  {{success_message}}.
		</div>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		
		<div class="row">
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6"><h2>Add Assessment Parameter</h2></div>
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
				<h2><a class="font-30" [routerLink]="['/assessment-parameter']"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i></a></h2>
			</div>
		</div>
		
	</div>
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
        
	</div>
	
</div>