<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 loading-icon" *ngIf="isLoading">
		<img src="assets/img/loading-large.gif" />
	</div>
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 success-message" *ngIf="!isLoading">
		<div class="alert alert-success" *ngIf="success">
		  {{success_message}}.
		</div>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" *ngIf="!isLoading">

		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"><h2>Holiday</h2></div>
			<div class="col-xs-6 col-sm-4 col-md-4 col-lg-4 text-right margin-top-20px">
				<input type="text" formControlname="search" (keyup.enter)="getAllholiday()" placeholder="Search" class="form-control" [(ngModel)]="search" [ngModelOptions]="{standalone: true}">
			</div>
			<div class="col-xs-4 col-sm-1 col-md-1 col-lg-1 text-right margin-top-20px">
				<button type="button" (click)="getAllholiday()" class="btn btn-info btn-padding">
					<span class="glyphicon glyphicon-search hidden-xs"></span> Search
				</button>
				<h2 class="visible-xs"></h2>
			</div>
			<div class="col-xs-2 col-sm-1 col-md-1 col-lg-1 text-right">
				<!--  <h2><a class="font-30" [routerLink]="['/leave-request/add']" title="Request Leave"><i class="fa fa-plus-circle" aria-hidden="true"></i></a></h2>-->
			</div>
		</div>

	</div>
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 table-responsive" *ngIf="!isLoading && itemCount > 0">
		<data-table id="holiday-grid" headerTitle="" [indexColumn]="false" [items]="items" [substituteRows]="false" [limit]="15" [itemCount]="itemCount" (reload)="reloadItems($event)">
        	<data-table-column [property]="'holiday_name'" [header]="'Holiday Name'" width="10%" [sortable]="true"></data-table-column>
        	<data-table-column [property]="'holiday_date'" [header]="'Holiday Date'" width="15%" [sortable]="true">
	        	<template #dataTableCell let-item="item">
        	    	<div  class="text-right">{{item.holiday_date | date}}</div>
    	        </template>
	        </data-table-column>
 		</data-table>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" *ngIf="!isLoading && itemCount ==0">
    	<div class="well">
      		<p class="text-center">No Holidays Found</p>
    	</div>
  </div>
</div>
