<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 loading-icon" *ngIf="isLoading">
		<img src="assets/img/loading-large.gif" />
	</div>
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<div class="row">
			<div class="col-xs-12 col-sm-7 col-md-7 col-lg-7"><h2>My Project</h2></div>
			<div class="col-xs-8 col-sm-4 col-md-4 col-lg-4 text-right margin-top-20px">
				<input type="text" formControlname="search" (keyup.enter)="getProjects()" placeholder="Search" class="form-control" [(ngModel)]="search" [ngModelOptions]="{standalone: true}">
			</div>
			<div class="col-xs-4 col-sm-1 col-md-1 col-lg-1 text-right margin-top-20px padding-left-0px">
				<button type="button" (click)="getProjectst()" class="btn btn-info btn-padding">
					<span class="glyphicon glyphicon-search hidden-xs"></span> Search
				</button>
				<h2 class="visible-xs"></h2>
			</div>
		</div>

	</div>
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 table-responsive" *ngIf="itemCount > 0 && !isLoading">

    <data-table id="project-grid" headerTitle=""[indexColumn]="false" [items]="items" [substituteRows]="false" [limit]="15" [itemCount]="itemCount" (reload)="reloadItems($event)">

      <data-table-column [property]="'project_name'" [header]="'Project Name'" width="25%" [sortable]="true">
        <ng-template #dataTableCell let-item="item">
          <div class="text-left">
            {{item.project_name | capitalise}}
          </div>
        </ng-template>
      </data-table-column>
      <data-table-column [property]="'no_of_members'" [header]="'No of Members'" width="15%" [sortable]="true">
        <ng-template #dataTableCell let-item="item">
          <div class="text-right">
            {{item.no_of_members}}
          </div>
        </ng-template>
      </data-table-column>
      <data-table-column [property]="'project_members'" [header]="'Project Members'" width="36%" [sortable]="true">
        <ng-template #dataTableCell let-item="item">
          <div class="text-left">
            {{item.project_members | capitalise}}
          </div>
        </ng-template>
      </data-table-column>
      <data-table-column [property]="'start_date'" [header]="'Start Date'" width="12%" [sortable]="true">
        <ng-template #dataTableCell let-item="item">
          <div class="text-right">
            {{item.start_date }}
          </div>
        </ng-template>
      </data-table-column>
      <data-table-column [property]="'end_date'" [header]="'End Date'" width="12%" [sortable]="true">
        <ng-template #dataTableCell let-item="item">
          <div class="text-right">
            {{item.end_date}}
          </div>
        </ng-template>
      </data-table-column>

    </data-table>
	</div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" *ngIf="itemCount ==0 && !isLoading">
    <div class="well">
      <p class="text-center">No Projects Found</p>
    </div>
  </div>
</div>
